<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->
    <link
    rel="stylesheet"
    href="/static/hacker.css"
    />
  
    <title>Exquisite Sext</title>

    <style>
      label.error {
        display: none;
      }
      
      .has-error label.error {
        display: block;
      }

      .has-error .help-block {
        /* display: none; */
      }

      .form-control {
        color: #4dff4d !important;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Exquisite Sext</h1>
    </div>

    <div class="container">
      <form>
        <div class="form-group nameGroup">
          <!-- <label for="name">Name</label> -->
          <span class="help-block" id="nameHelp" 
          >The name you'll go by in this exquisite sext</span
        >
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="nameHelp"
            placeholder="Mx. Fox"
          />

          <label class="control-label error" for="name">Name is required</label>
        </div>
        <div class="form-group initialPromptGroup">
          <!-- <label for="initialPrompt">Initial Prompt</label> -->
          <span class="help-block" id="initialPromptHelp"
          >The start of the story. Keep it to a few words. <br/>
          Here's a suggestion.</span
        >
          <input
            type="text"
            class="form-control"
            id="initialPrompt"
            placeholder="Lately, Alex had been feeling very"
            maxlength="50"
            aria-describedby="initialPromptHelp"
            size="50"
            value="{{prompt}}"
          />
 
          <label class="control-label error" for="initialPrompt">Initial prompt is required</label>
        </div>
        <button type="button" class="btn btn-primary" id="createRoom">
          Create Room
        </button>
      </form>
    </div>
  </body>

  {% raw %}

  <script>
    $('#createRoom').click(() => {
      name = $('#name').val();
      initialPrompt = $('#initialPrompt').val();

      if (!name) {
        $('.nameGroup').addClass('has-error');
      }

      if (!initialPrompt) {
        $('.initialPromptGroup').addClass('has-error');
      }

      if (!name || !initialPrompt) {
        return;
      }

      jQuery
        .post('/api/createStory', {
          name: name,
          initialPrompt: initialPrompt
        })
        .done(function(data) {
          console.log('second success', data);

          let existingRooms = localStorage.getItem('rooms');
          if (!existingRooms) {
            existingRooms = {};
          } else {
            existingRooms = JSON.parse(existingRooms);
          }
          existingRooms[data.room.id] = {
            name: $('#name').val()
          };
          localStorage.setItem('rooms', JSON.stringify(existingRooms));
          window.location = '/room/' + data.room.id;
        });
      return true;
    });
  </script>
  {% endraw %}
</html>
