<!-- 
TODO
- calculate last sender
- disable message send if you were the last sender
- order messaages by TS desc
- color in messages / display them nicely
- switch to using markov predictions
-->
<html>
  <head>
    <title>{{room.initialPrompt}} by {{room.creator}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="/static/hacker.css"
      />
    
    <script src="https://unpkg.com/vue"></script>

    <style>
      .storyArea {
        margin-top: 1.2vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
      }

      .nameArea {
        text-align: right;
        margin-top: 30px;
      }

      .textFragment {
        display: inline-block;
      }

      .space {
        display: inline-block;
      }

      .storyArea h3 {
        margin: 0px;
      }

      .space pre {
        padding: 0;
        margin: 0;
        background-color: unset;
        border-color: unset;
        border: unset;
      }

      .newline {
        width: 100%;
        height: 1em;
      }

      label.error {
        display: none;
      }
      
      .has-error label.error {
        display: block;
      }
      
      .has-error .help-block {
        display: none;
      }

      .form-control {
        color: #4dff4d !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- <a href="#" onclick="leave_room();">Leave this room</a> -->

      <div id="vueArea">
        {% raw %}
        <div v-if="name && otherUser">
          
            <div class="alert alert-dismissible alert-success">

            <div class="storyArea">
              <h3 style="display:inline" :class="{
                'text-primary': name == room.creator
              }">{{room.initialPrompt}}</h3>
              <template v-for="message in messages"> 
                  <span v-if="message.text != ':newline:' && message.text != '.' && message.text != ','" class="space"><pre> </pre></span>
                  <div class="newline" v-if="message.text == ':newline:'"></div>
                  <div class="newline" v-if="message.text == ':newline:'"></div>

                  <span v-else :class="{
                    'text-primary': message.name == name,
                    'text-success': message.name != name,
                    textFragment: true
                  }">{{ message.text }}</span>
                </span>
              </template>
            </div>
            
                <div class="nameArea">
                  By <span class="text-primary">{{ name }}</span> (me) and <span class="text-success">{{ otherUser }}</span>
                </div>
              
          </div>

          <div v-if="lastSender != name">
            
            <div v-for="completionSection in completions"  v-if="completionSection.words.length > 0">
              <h3>{{completionSection.name}}</h3>
              <button
                type="button"
                class="btn btn-primary"
                @click.prevent="sendWord(word)"
                v-for="word in completionSection.words"
              >{{word}}</button>
            </div>
          
              Start exquisitely sexting
            </button>
          </div>
          <div v-else class="statusArea panel panel-default"><div class="panel-body">Waiting for {{ otherUser }}</div></div>
        </div>
        <div v-else class="statusArea panel panel-default"><div class="panel-body">
          Waiting for another person to join.
        </div></div>
                 
        

        <div v-if="!name">
          <form>
            <div class="form-group" :class="{
              'has-error': !!nameError
            }">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="nameHelp"
                placeholder="Mx. Wolf"
                value="Mx. Wolf"
              />
              <span class="help-block" id="nameHelp" 
                >The name you'll go by in this exquisite sext</span
              >
              <label class="control-label error" for="name">{{nameError}}</label>

            </div>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="setName"
            >
              Start exquisitely sexting
            </button>
          </form>
        </div>

        {% endraw %}
        <div id="status"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" charset="utf-8">
    const roomId = '{{ roomId }}';
    const room = JSON.parse('{{ room|tojson|safe}}');
    const messages = JSON.parse('{{ messages|tojson|safe}}');
    const messageArray = _.orderBy(messages.messages, ['ts'], ['asc']);
    const completions = JSON.parse('{{ completions|tojson|safe}}');

    let lastSender = null;
    if (messageArray.length == 0) {
      lastSender = room.creator;
    } else {
      lastSender = messageArray[messageArray.length - 1].name;
    }

    console.log(room);

    let initialName = null;
    let otherUser = null;
    if (room.participantSid && !room.creatorSid) {
      initialName = room.creator;
    } else if (room.creatorSid && !room.participantSid) {
      initialName = room.participant;
    }

    let existingRooms = localStorage.getItem('rooms');
    if (!existingRooms) {
      existingRooms = {};
    } else {
      existingRooms = JSON.parse(existingRooms);
    }

    if (existingRooms[roomId]) {
      initialName = existingRooms[roomId].name;
    }

    if (initialName == room.creator) {
      otherUser = room.participant;
    } else if (initialName == room.participant) {
      otherUser = room.creator;
    }

    const app = new Vue({
      el: '#vueArea',
      data: {
        name: initialName,
        messages: messageArray,
        completions: completions.completions,
        room,
        lastSender,
        otherUser,
        nameError: false
      },
      methods: {
        setName: function(event) {
          const name = $('#name').val()
          if (name == room.creator) {
            app.nameError = 'Hey, choose a different name from the creator of the room';
            return true;
          }
          if (!name) {
            app.nameError = 'Name is required'
            return true;
          }
          this.name = name;

          let existingRooms = localStorage.getItem('rooms');
          if (!existingRooms) {
            existingRooms = {};
          } else {
            existingRooms = JSON.parse(existingRooms);
          }
          existingRooms[roomId] = {
            name: $('#name').val()
          };
          localStorage.setItem('rooms', JSON.stringify(existingRooms));

          joinRoom();
        },
        sendText: function() {
          console.log('send text');
          text = $('#text').val();
          console.log('trying to send');
          this.sendWord(text);
        },
        sendWord: function(text) {
          if (text.length > 0) {
            $('#text').val('');
            app.lastSender = app.name;
            console.log('trying to send / set sender');
            socket.emit('text', { name: app.name, roomId: roomId, text: text });
          }
        }
      }
    });

    function joinRoom() {
      socket.emit('joined', {
        name: app.name,
        roomId: roomId
      });
    }

    var socket;
    $(document).ready(function() {
      socket = io.connect(
        'http://' + document.domain + ':' + location.port + '/chat'
      );
      socket.on('connect', function() {
        if (!!app.name) {
          joinRoom();
        }
      });
      socket.on('status', function(data) {
        $('#status').val($('#status').val() + '<' + data.msg + '>\n');
        $('#status').scrollTop($('#status')[0].scrollHeight);
      });
      socket.on('message', function(data) {
        console.log(data);
        app.lastSender = data.name;
        app.messages.push({
          name: data.name,
          text: data.text
        });
        app.completions = data.completions;
        // $('#chat').val($('#chat').val() + data.msg + '\n');
        // $('#chat').scrollBottom($('#chat')[0].scrollHeight);
      });
      socket.on('setParticipant', function(data) {
        app.otherUser = data.name;
      });
    });

    function leave_room() {
      socket.emit('left', {}, function() {
        socket.disconnect();
      });
    }
  </script>
</html>
